<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>发送者信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>发送者信息列表</h1>
    <ul>
        {%for f in fasongzhes%}
        <li>
            <a href="/myapp/{{f.id}}/">{{f.fname}}---{{f.fnumber}}</a>

        </li>
        {%endfor%}


    </ul>
    
</body>
</html>